body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

table thead tr td, 
table tbody tr td {
    text-align:center;
}
.logo {
    margin-top: 50px;
    width:300px;
}
.select-user {
    width: 300px;
    margin-top:200px;
    height:30px;
    padding:5px;
}